.sidebarOption {
  display: flex;
  align-items: center;
  transition: 200ms color ease-in;
  color: gray;
  height: 40px;
  cursor: pointer;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption_icon {
  padding: 0 10px;
}
